---
import Section from './Section';
---
<Section client:visible id="gallery" title="Gallery">
  <div class="card p-6">
    <p class="opacity-80">Add your images to <code>/public/images/gallery</code> and reference them in your content later. You can extend this section to be dynamic.</p>
  </div>
</Section>
